body {
    font-family: 'Gill Sans', sans-serif;
    background-color: darkgoldenrod;
    color: #444444;
}

h1 {
    text-align: center;
    font-size: 40px;
}

img {
    border-radius: 10px;
    height: auto;
    max-width: 100%;
}

li {
    list-style-type: square;
}